@{
    ViewBag.Title = "Royal Hospital Hurghada";
}

@section Scripts{
    <script src="~/client/vendor.js"></script>
    <script src="~/client/polyfills.js"></script>
    <script src="~/client/runtime.js"></script>
    <script src="~/client/main.js" asp-append-version="true"></script>
}

<img src="~/images/news/oncology_center_home_lg.jpg" />
<img src="~/images/news/oncology_center_news_details_lg.jpg" />

<div class="home_page">
    <!-- Banner -->
    <section class="banner-section style-h25">
        <div class="banner-carousel owl-carousel">

            <!-- Slide Item -->
            <div class="slide-item">
                <img src="~/images/home-banners/home_banner_1_lg.jpg" class="img-bg" alt="home-banner" />
                <div class="auto-container clearfix">
                    <!-- Content Box -->
                    <div class="content-box">
                        <div class="inner">
                            <div class="innerxx sli2">
                                <div class="title">
                                    <h3>
                                        Royal Hospital - Hurghada
                                    </h3>
                                </div>
                                <h2>Treating hands, caring hearts and God heals<span></span></h2>
                                
                                <div class="link-box">
                                    <a href="/appointment" class="theme-btn btn-style-nine">Book Now </a>
                                    <a href="https://www.youtube.com/watch?v=P4XsvE4fCTg"
                                       class="theme-btn btn-style-ten popup-youtube various">
                                        Watch video
                                        <i class="fa fa-3x fa-play-circle icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Item -->
            <div class="slide-item">
                <img src="~/images/home-banners/home_banner_2_lg.jpg" class="img-bg" alt="home-banner" />
                <div class="auto-container clearfix">
                    <!-- Content Box -->
                    <div class="content-box">
                        <div class="inner">
                            <div class="innerxx sli2">
                                <div class="title">
                                    <h3>
                                        Royal Hospital - Hurghada
                                    </h3>
                                </div>
                                <h2>Treating hands, Caring hearts and God heals <span></span></h2>
                                
                                <div class="link-box">
                                    <a href="/appointment" class="theme-btn btn-style-nine">Book Now </a>
                                    <a href="https://www.youtube.com/watch?v=P4XsvE4fCTg"
                                       class="theme-btn btn-style-ten popup-youtube various">
                                        Watch video
                                        <i class="fa fa-3x fa-play-circle icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Item -->
        </div>
    </section>

    <!-- Categories -->
    <section class="service-icon-h7-one">
        <div class="container" data-animation-container>
            <div class="row">
                <div class="column col-lg-4 col-sm-12 order-md-0 order-3">
                    <a href="/clinics" class="item">
                        <div class="image"><img src="/images/resource/dental/emergency-doctor.jpg" alt=""></div>
                        <div class="icon"><span class="flaticon-doctor-4"></span></div>
                        <div class="title black">
                            <h2>
                                <span class="overlay-anim-box2x">
                                    Out Patient Clinics<br>
                                </span>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="column col-lg-4 col-sm-12">
                    <a href="/departments" class="item">
                        <div class="image"><img src="/images/resource/dental/emergency-24.jpg" alt=""></div>
                        <div class="icon"><span class="flaticon-support"></span></div>
                        <div class="title">
                            <h2>
                                <span class="overlay-anim-box2x">
                                    Medical Departments<br>
                                </span>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="column col-lg-4 col-sm-12">
                    <a href="/insurance" class="item">
                        <div class="image"><img src="/images/insurance.png" alt="insurance"></div>
                        <div class="icon"><span class="flaticon-ambulance"></span></div>
                        <div class="title">
                            <h2>
                                <span class="overlay-anim-box2x">
                                    Insurance Partners<br>
                                </span>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="bkr003">
        <div class="about-4">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h1> Royal Hospital</h1>
                            <div class="text">

                                <b>Your Trusted Medical Partner in Hurghada</b><br />Royal Hospital is a 70-bed hospital located in the heart of Hurghada City and is known as one of the most reputable and biggest hospitals in the whole governorate.<br />Recently in 2023 we performed a full hospital upgrading and renovation process to increase operating capacity to more than triple the previous capacity and added a lot of new medical equipments.<br />Our dedicated medical team of university professors, consultants, specialists doctors, and well-trained nurses offers high-quality integrated services over 30 medical general specialties and subspecialties.<br />We are always ready to help you with all your health problems and offer trusted treatment solutions for you and your family.

                            </div>
                            <div class="play-box">
                                <div class="image"><img src="/images/signature.jpg" alt=""></div>
                            </div>
                            <div class="more-about">
                                <a class="about" href="/about">
                                    More About Us
                                    <span class="arrow fas fa-long-arrow-alt-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="pattern-layouts">
                                <div class="pattern-1"></div>
                                <div class="pattern-2"></div>
                                <div class="pattern-3"></div>
                            </div>
                            <div class="popup-gallery">
                                <div class="image image-one">
                                    <a href="/images/ab2.jpg">
                                        <!--<picture>-->
                                        <!--</picture>-->

                                        <img src="/photos/media-items/Sky_1_lg.jpg" alt="image 1" />

                                    </a>
                                </div>
                                <div class="image image-two">
                                    <a href="/images/clinic/cardiology.jpg">
                                        <!--<picture>-->
                                        <!--</picture>-->

                                        <img src="/photos/media-items/2_lg.jpg" alt="image 3" />

                                    </a>
                                </div>

                                <div class="image image-four">
                                    <a href="/images/resource/emergency.jpg">
                                        <img src="/photos/media-items/Ambulance-banner_1_lg.jpg" alt="image 2" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex flex-column">

        <!-- clinics -->
        <section class="service-icon-two-h25 text-center clinics_sec order-md-0 order-1">
            <div class="container">
                <div class="anim-icons icont2">
                    <span class="icon shape-1"><img src="/images/icons/i1.png" alt=""></span>
                    <span class="icon shape-3"><img src="/images/icons/i2.png" alt=""></span>
                    <span class="icon shape-4"><img src="/images/icons/i3.png" alt=""></span>
                    <span class="icon shape-5"><img src="/images/icons/i4.png" alt=""></span>
                    <span class="icon shape-6"><img src="/images/icons/i5.png" alt=""></span>
                </div>
                <div class="sec-title-five center">
                    <div class="title">
                        <h2>
                            <span class="title_c">
                                <h1><b>Royal Hospital Clinics</b></h1>
                            </span>
                        </h2>
                    </div>
                    <div class="text">
                        <p>
                            In our outpatient clinics, we offer a diverse range of specialties and subspecialties through our experienced professors from Egypt top Universities and our senior doctors.
                            <br>
                            Our goal is to improve your overall quality of life not just to treat your medical condition.

                        </p>

                    </div>
                </div>
                
                <clinic-list></clinic-list>

                <a href="/clinics" class="theme-btn btn-style-five">View All Clinics</a>
            </div>
        </section>

        <!-- Departments -->
        <section class="case-section order-md-1 order-0">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title-five center pb-4">
                    <div class="title">
                        <h2 class="mb-1">
                            <span class="title_c">
                                <h1><b>Royal Hospital Departments</b></h1>
                            </span>
                        </h2>
                    </div>
                    <div class="text">
                        <p>
                            Our medical departments are considered the newest and the most integrated departments in Hurghada especially after the huge upgrading process, renovation that took place in 2023 by increasing operating capacity to triple the previous capacity, adding new medical equipments and devices.
                            <br>
                            We are committed to offer a full menu of medical services from primary care to critical care in all medical and surgical specialties for all family members.

                        </p>
                    </div>
                </div>
            </div>
            <department-list></department-list>
        </section>
    </div>

    <!-- Our Team -->
    <section class="bkr003" style="background-image: url(/images/background/3-gen.jpg);
		background-position: center center; background-size: cover; background-repeat: no-repeat;
        position: relative;">
        <div class="team-6">
            <div class="sec-title-five center ptb-50">
                <div class="title">
                    <h2><span class="title_c"> Royal Expert Physicians </span> </h2>
                </div>
                <div class="text">
                    <p>
                        Meet our team
                        <br>
                        Qualified doctors in all medical specialties you may need in one place
                    </p>

                </div>
            </div>
            <doctor-list></doctor-list>
        </div>
    </section>


    <!-- Insurance -->
    <section class="task-section right-sec white-bg"
             style="background-image: url('/images/resource/insurance.jpg'); background-repeat: no-repeat;">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <img src="/images/resource/insurance.jpg" class="img-fluid d-sm-none" alt="insurance" />
                </div>

                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2> Medical Insurance  </h2>
                        <p>

                            With our extensive experience in partnership and dealing with different international insurance companies, we treated thousands of Hurghada visitors from all over the world. We knows exactly how to provide the best medical services to the patients from various nationalities with caring, compassion and meeting their different needs

                        </p>

                        <!--Button Box-->
                        <div class="btn-box">
                            <a href="/insurance" class="theme-btn btn-style-five"> Know More Info </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="blog-25 news-sec" style="background-image: url(/images/background/pattern-2.png);">
        <div class="container">
            <div class="sec-title-five center">
                <div class="title">
                    <h2> <h1 style ="color:black;">Our News</h1> </h2>
                </div>
            </div>
            <news-list></news-list>
        </div>
    </section>

    <section class="search-your-doctor" style="background-image:url(/images/resource/royal-bg.jpg)">
        <div class="container">
            <div class="contact">
                <div class="title">
                    <h3> Make an Appointment</h3>
                </div>
                <form method="post" id="job-frm" enctype="multipart/form-data">
                    <div class="row validationEngineContainer" id="appointment">
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <input type="text" type="text" class="validate[required]" id="AppointmentEmailModel_FullName" name="AppointmentEmailModel.FullName" value="" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <input type="text" type="text" id="datepicker" class="validate[required]" name="AppointmentEmailModel.CheckInDate" value="" placeholder="CheckInDate">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <select class="selectpicker validate[required]" id="doctor-select" name="AppointmentEmailModel.ClinicName">
                                    <option selected disabled hidden value="">
                                        Select a clinic to visit
                                    </option>
                                    <option value="Cardiology">Cardiology</option>
                                    <option value="Internal medicine">Internal medicine</option>
                                    <option value="GIT Endoscopy">GIT Endoscopy</option>
                                    <option value="Nephrology ">Nephrology </option>
                                    <option value="Endocrinology &amp; Diabetes ">Endocrinology &amp; Diabetes </option>
                                    <option value="Rheumatology">Rheumatology</option>
                                    <option value="Neuro Spine Surgery ">Neuro Spine Surgery </option>
                                    <option value="Oncology">Oncology</option>
                                    <option value="Bariatric &amp; Obesity surgery">Bariatric &amp; Obesity surgery</option>
                                    <option value="General Surgery &amp; Laparoscopy ">General Surgery &amp; Laparoscopy </option>
                                    <option value="Pediatric Cardiology">Pediatric Cardiology</option>
                                    <option value="Vascular Surgery ">Vascular Surgery </option>
                                    <option value="Orthopedic Surgery &amp; Arthroscopy ">Orthopedic Surgery &amp; Arthroscopy </option>
                                    <option value="Neurology clinic">Neurology clinic</option>
                                    <option value="Pediatric Neurology ">Pediatric Neurology </option>
                                    <option value="Pediatric Hematology">Pediatric Hematology</option>
                                    <option value="Urology &amp; Urosurgery ">Urology &amp; Urosurgery </option>
                                    <option value="ENT Surgery">ENT Surgery</option>
                                    <option value="Dermatology &amp; Andrology ">Dermatology &amp; Andrology </option>
                                    <option value="Obstetrics &amp; Gynecology">Obstetrics &amp; Gynecology</option>
                                    <option value="Pain Management  ">Pain Management  </option>
                                    <option value="Pediatric Surgery">Pediatric Surgery</option>
                                    <option value="Plastic Surgery ">Plastic Surgery </option>
                                    <option value="Allergy &amp; Immunology">Allergy &amp; Immunology</option>
                                    <option value="Children Speech Therapy ">Children Speech Therapy </option>
                                    <option value="Dental Clinic">Dental Clinic</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <input type="tel" type="tel" class="validate[required]" id="AppointmentEmailModel_ClientPhone" name="AppointmentEmailModel.ClientPhone" value="" placeholder="ClientPhone">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <input type="email" type="email" class="validate[required,custom[email]]" required="" id="AppointmentEmailModel_ClientEmail" name="AppointmentEmailModel.ClientEmail" value="" placeholder="ClientEmail">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-12 culmn">
                            <div class="form-group">
                                <textarea class="form-control" rows="2" id="AppointmentEmailModel_Message" name="AppointmentEmailModel.Message" placeholder="Message">
</textarea>
                            </div>
                        </div>


                        <div class="col-md-6 culmn order-md-0 order-1">
                            <div class="form-group sub_btn">
                                <button class="theme-btn px-5"
                                        onclick="javascript: return $('#appointment').validationEngine('validate');"
                                        type="submit">

                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 culmn order-md-1 order-0">
                            <div class="form-group recaptcha">
                                <div class="g-recaptcha btn p-0 my-2" data-sitekey="6LfF5t4ZAAAAADEtRpyzHftDnKQas9re_2lW7mHa"></div>
                            </div>
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8B19gYZCtY9Dqgp6kajovMyiLRQOyUnsoFf-91PYxXPgXXmmYjtzu6eRcGXgfbzFUwSfTSJr2T-884KjkvZQ3wmbqY0uxEy6m5uvejVyBX_QVMhH4kg9l6OGwb2xbs-7lYD8QEbn3G2wwuDhm0EhH30" />
                </form>

            </div>
        </div>

    </section>

    <div class="modal-form resident-card mfp-hide" id="resident_card">
        <div class="contact-section pb-0">
            <!--Form Column-->
            <div class="form-column">
                <div class="inner-column p-5">
                    <!-- Contact Form -->
                    <form class="contact-form" method="post">
                        <h2>Request Resident Card</h2>
                        <div class="title">Get your Royal Resident Card for free and we will deliver to your home.</div>
                        <div id="request-residentCard" class="validationEngineContainer">

                            <div class="form-group">
                                <input type="text" placeholder="Full Name" class="validate[required]" id="ResidentCardModel_FullName" name="ResidentCardModel.FullName" value="">
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email address" class="validate[required, custom[email]]" id="ResidentCardModel_Email" value="">
                            </div>

                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Phone" class="validate[required]" id="ResidentCardModel_Phone" value="">
                            </div>

                            <div class="form-group">
                                <textarea name="message" rows="3" placeholder="Message" id="ResidentCardModel_Message">
</textarea>
                            </div>

                            <div class="form-group">
                                <button class="theme-btn message-btn"
                                        onclick="javascript: return $('#request-residentCard').validationEngine('validate');"
                                        formaction="?handler=ResidentCard"
                                        type="submit" name="submit-form">
                                    Submit
                                </button>
                            </div>

                        </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8B19gYZCtY9Dqgp6kajovMyiLRQOyUnsoFf-91PYxXPgXXmmYjtzu6eRcGXgfbzFUwSfTSJr2T-884KjkvZQ3wmbqY0uxEy6m5uvejVyBX_QVMhH4kg9l6OGwb2xbs-7lYD8QEbn3G2wwuDhm0EhH30" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
